<hr>
<h2>Welcome to the longest word-game !</h2>
<p>Here is your grid : <%= @grid.join(" ") %></p>
<hr>

<h2>What's your best shot ?</h2>

<form action="/score" method='POST'>
<input type="hidden" id="grid" name='grid' value='<%= @grid.join(" ") %>'>
<input type="hidden" id="start" name='start' value='<%= Time.now %>'>
  <input type="text" id="question" name="attempt" placeholder="what's your word?">
  <input type="submit" value="submit!">
</form>
